@page
@model Moment1._1.Pages.AboutModel
@{
	ViewData["Titel"] = "Om sidan";
}

<h1>Om sidan</h1>

<p>Detta är en webbplats skapad för Moment 1.1 i kursen Webbutveckling med .NET. Webbplatsen är skapad med ASP.net Core (ASP.net Core Web Application) och Razor.</p>
<p>Webbplatsen är skapad av Beatrice Abrahamsson. Kontakta mig via e-post på <a href="mailto:beab2100@student.miun.se">beab2100@student.miun.se</a></p>
